<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/assets/css/dashboard.css" rel="stylesheet" />
    <link href="/assets/css/base_inner.css" rel="stylesheet" />
    <link href="/assets/css/iconfont.css" rel="stylesheet" />
    <link href="/assets/css/jquery.noty.css" rel="stylesheet" />
    <link href="/assets/css/noty_theme_default.css" rel="stylesheet" />
    <link href="/assets/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
    @RenderSection("Head", required: false)
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.min.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Project">通用权限管理系统</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{ Html.RenderAction("ProjectDropdownMenu", "Project");}
                    <li class="create-project">
                        <button class="btn btn-primary" id="create_project"><strong>创建项目</strong></button>
                    </li>
                </ul>

                <ul class="nav navbar-nav pull-right">
                    <li id="user-options" class="dropdown">
                        <a id="header-details-user-fullname" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" role="button" aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="header-details-user-fullname">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="@(System.Configuration.ConfigurationManager.AppSettings["SwitchSystemUrl"])">切换系统</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/Home/SignOut">注销</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 left-menu">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="/Project"><i class="icon icon-cascades"></i>项目</a></li>
                    <li><a href="/User"><i class="icon icon-profile"></i>用户管理</a></li>
                    <li><a href="/Subject/Step2_1"><i class="icon icon-profile"></i>型材询价单</a></li>
                    <li><a href="/Supplier"><i class="icon icon-list"></i>供应商管理</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
                <div class="navigator-group">
                    <div class="results-panel">
                        <div class="navigator-content">
                            @RenderBody()
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="/assets/js/jquery-1.10.2.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <script src="/assets/js/docs.min.js"></script>
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/assets/js/jquery.noty.js"></script>
    <script src="/assets/js/dialog.js"></script>
    <script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
   
    $(function () {

        if ($(".frame-body>.line-item-container").length > 0) {
            $(".frame-body>.line-item-container").mCustomScrollbar({ axis: "x", theme: "dark" });
        }

        $("#create_project").on("click", function () {
            $.get("/Project/Add", function (content) {
                $.dialog({
                    content: content,
                    width: 800,
                    init: function () {

                    },
                    sure: function () { return false; }
                });
            });
        });
    })
</script>
    @RenderSection("Script", required: false)
</body>
</html>
